{% extends 'index.html' %}
    {% block content %}
            {{ message.created_at | date:'H:m d.M.Y' }}
            <br>
            Автор: {{ message.user }}
            <br>
    <h4> {{ message.title }} </h4>
    <h5> Описание:</h5>

        {{ message.content }}
        <br>
        <div>

            <br>
            <div>
                <form method="GET">
                    <a href="{% url 'reaction_create' %}?id={{message.id}}" class="btn btn-primary">Оставить отклик</a>
                    </form>
            </div>
            {% if reaction|length > 0 %}
            <h3>Отклики:</h3>
            {% for i in reaction %}
                <div>
                    {{ i.user }}
                    <br>
                    {{ i.text }}
                    <hr>
                </div>
                <hr>
            {% endfor %}
            {% else %}
            {% endif %}

        </div>

    {% endblock content %}